<section class="twelve columns">
    <h2>About Me</h2>

    <p>I am PhD student at the <a href="http://www.dima.tu-berlin.de/">Database and Information Management (DIMA) group</a> at Technische Universität Berlin, working on <a href="http://stratosphere.eu/">the Stratosphere project</a>.</p>
    <p>In my research, I am trying to bridge the gap between the demands of modern Big Data analysis platforms and the need for high-level, declarative analytics languages. 
       The approach I take relies on the use of suitable algebraic foundations (like <a href="http://adit.io/posts/2013-04-17-functors,_applicatives,_and_monads_in_pictures.html">monads</a>) that both <i>(i)</i> capture the essence of modern data-parallel runtimes, and <i>(ii)</i> allow for a high-level, declarative syntax at the language level.
       The goal is to design and build an embedded language for data-parallel analysis based on this algebraic foundation.</p>
    <p>I am also interested in methods and techniques for scalable data generation and benchmarking of data analysis platforms.</p>
    <p>For further information, please contact me at <em>firstname dot surname at tu-berlin dot de</em>.</p> 
</section>
