<section class="twelve columns">
    <h2>About Me</h2>

    <p>
      I am PhD student at the <a href="http://www.dima.tu-berlin.de/">Database and Information Management (DIMA) group</a> at Technische Universität Berlin.
    </p>
    <p>
      I am interested in bridging the gap between the demands of modern Big Data analysis platforms and the need for high-level, declarative analytics languages.
      The approach I take is to embed techniques and methods from database query optimization into compilation pipelines of embedded domain specific languages.
    </p>
    <p>
       I am also interested in methods and techniques for scalable data generation and benchmarking of data analysis platforms.
    </p>
    <p>
      For further information, please contact me at <em>alexander.s.alexandrov@gmail.com</em>.
    </p>
</section>
