<section class="twelve columns">
    <h2>Education</h2>
    <article>
        <header>
            <h3>MSc in Computer Science</h3>
            <span>Technische Unversität Berlin</span>
            <div><address>Berlin, Germany</address><time>2008</time> to <time>2011</time></div>
        </header>
        <p>
            Thesis: <em>Design and Execution of a Benchmark for Large-Scale Parallel Processing Systems</em>.
        </p>
    </article>
    <article>
        <header>
            <h3>BSc in Computer Science</h3>
            <span>Unversität Mannheim</span>
            <div><address>Mannheim, Germany</address><time>2004</time> to <time>2007</time></div>
        </header>
        <p>
            Thesis: <em>Automatic Generation of XML Conversion Tools</em>.
        </p>
    </article>
</section>
