<section class="twelve columns">
    <h2>Selected Publications</h2>
    <article>
        <header>
            <h3><a href="http://aalexandrov.name/assets/pdf/2016.SIGMOD.DeclarativeDataflows.pdf">Declarative Dataflows for Scalable Data Analysis</a></h3>
            <span>Alexander Alexandrov, Andreas Salzmann, Georgi Krastev, Asterios Katsifodimos, Volker Markl</span>
            <div>Demo at SIGMOD Conference 2016</div>
        </header>
    </article>

    <article>
        <header>
            <h3><a href="http://aalexandrov.name/assets/pdf/2016.SIGMODRec.ImplicitParallelism.pdf">Implicit Parallelism through Deep Language Embedding</a></h3>
            <span>Alexander Alexandrov, Asterios Katsifodimos, Georgi Krastev, Volker Markl</span>
            <div>SIGMOD Record, March 2016 (Vol. 45, No. 1): 51-58</div>
        </header>
    </article>

    <article>
        <header>
            <h3><a href="http://aalexandrov.name/assets/pdf/2015.SIGMOD.ImplicitParallelism.pdf">Implicit Parallelism through Deep Language Embedding</a></h3>
            <span>Alexander Alexandrov, Andreas Kunft, Asterios Katsifodimos, Felix Schüler, Lauritz Thamsen, Odej Kao, Tobias Herb, Volker Markl</span>
            <div>SIGMOD Conference 2015: 47-61</div>
        </header>
    </article>

    <article>
        <header>
            <h3><a href="http://aalexandrov.name/assets/pdf/2014.VLDBJ.StratosphereOverview.pdf">The Stratosphere platform for big data analytics</a></h3>
            <span>Alexander Alexandrov, Rico Bergmann, Stephan Ewen, Johann-Christoph Freytag, Fabian Hueske, Arvid Heise, Odej Kao, Marcus Leich, Ulf Leser, Volker Markl, Felix Naumann, Mathias Peters, Astrid Rheinländer, Matthias J. Sax, Sebastian Schelter, Mareike Höger, Kostas Tzoumas, Daniel Warneke</span>
            <div>VLDB J. 23(6): 939-964 (2014)</div>
        </header>
    </article>

    <article>
        <header>
            <h3><a href="http://aalexandrov.name/assets/pdf/2012.TPCTC.Cloud-Benchmarking.pdf">Benchmarking in the Cloud: What It Should, Can, and Cannot Be</a></h3>
            <span>Enno Folkerts, Alexander Alexandrov, Kai Sachs, Alexandru Iosup, Volker Markl, Cafer Tosun</span>
            <div>TPCTC 2012: 173-188</div>
        </header>
    </article>

    <p>For a full list of my publications please refer to <a href="http://dblp.uni-trier.de/pers/hd/a/Alexandrov:Alexander">my <em>DBLP</em> page</a>.</p> 
</section>
