<section class="twelve columns">
    <h2>Professional Service</h2>
    <article>
        <header>
            <h3>External Reviewer</h3>
        </header>
        <p>
            I have served as an external reviewer for various peer-reviewed conferences and journals, among which 
            <em><a href="http://sigmod.org/">SIGMOD</a></em>, 
            <em><a href="http://vldb.org/">VLDB</a></em>, and 
            <em><a href="http://tods.acm.org/">TODS</a></em>.
        </p>
    </article>
</section>
