<section class="twelve columns">
    <h2>Professional Service</h2>
    
    <article>
        <header>
            <h3>External Reviewer</h3>
        </header>
        <p>
            I have served as an external reviewer for various peer-reviewed conferences and journals, among which 
            <em><a href="http://sigmod.org/">SIGMOD</a></em>, 
            <em><a href="http://vldb.org/">VLDB</a></em>, 
            <em><a href="http://tods.acm.org/">TODS</a></em>, and 
            <em><a href="https://www.cambridge.org/core/journals/journal-of-functional-programming/">JFP</a></em>.
        </p>
    </article>
    
    <article>
        <header>
            <h3>Program Chair</h3>
        </header>
        <p>
            I am a co-chair of the
            <em><a href="http://dbpl2017.org/">The 16th International Symposium on Database Programming Languages (DBPL 2017)</a></em>, 
            held in conjunction with
            <em><a href="http://www.vldb.org/2017/">VLDB 2017</a></em>
            on September 1st, 2017, in Munich, Germany.
        </p>
    </article>
</section>
