<section class="twelve columns">
    <h2>Professional Service</h2>

    <article>
        <header>
            <h3>External Reviewer</h3>
        </header>
        <p>
            I have served as an external reviewer for various peer-reviewed conferences and journals, among which
            <em><a href="http://sigmod.org/">SIGMOD</a></em>,
            <em><a href="http://vldb.org/">VLDB</a></em>,
            <em><a href="http://tods.acm.org/">TODS</a></em>, and
            <em><a href="https://www.cambridge.org/core/journals/journal-of-functional-programming/">JFP</a></em>.
        </p>
    </article>

    <article>
        <header>
            <h3>Program Chair</h3>
        </header>
        <p>
            Co-chair of the
            <em><a href="http://dbpl2017.org/">The 16th International Symposium on Database Programming Languages (DBPL 2017)</a></em>,
            held in conjunction with
            <em><a href="http://www.vldb.org/2017/">VLDB 2017</a></em>
            on September 1st, 2017, in Munich, Germany.
        </p>
    </article>

    <article>
        <header>
            <h3>Teaching</h3>
        </header>

        <p>I have co-organized the following courses at TU Berlin.</p>
        <ul>
            <li><em>Datenbankpraktikum</em> (SS 2012, SS 2013, SS 2017)</li>
            <li><em>Database Technology</em> (WS 2011, WS 2012, WS 2013, WS 2014, WS 2015)</li>
            <li><em>Implementation of Database Systems</em> (WS 2011, WS 2012, WS 2013, WS 2014, WS 2015)</li>
            <li><em>Big Data Analytics Project</em> (SS 2014, WS 2014, SS 2015, WS 2015, SS 2016, WS 2016, WS 2017)</li>
        </ul>
    </article>
</section>
