<section class="twelve columns">
    <h2>Teaching</h2>
    <article>
        <header>
            <h3>Teaching Assistant</h3>
        </header>

        <p>I have co-organized the following Master courses at TU Berlin.</p>
        <ul>
            <li><em>Database Technology</em> (WS 2011, WS 2012, WS 2013, WS 2014, WS 2015)</li>
            <li><em>Implementation of Database Systems</em> (WS 2011, WS 2012, WS 2013, WS 2014, WS 2015)</li>
            <li><em>Big Data Analytics Project</em> (SS 2014, WS 2014, SS 2015, WS 2015, WS 2016, SS 2017)</li>
        </ul>
    </article>
</section>
